# ---------------- UNIX (Linux + FreeBSD) ----------------
- name: Copy script to Unix host
  copy:
    src: "{{ script_src }}"
    dest: "{{ unix_script_path }}"
    mode: '0700'
  become: true
  when: ansible_os_family != "Windows"

- name: Execute script as root
  command: python3 "{{ unix_script_path }}"
  become: true
  when: ansible_os_family != "Windows"

#- name: Remove script from Unix host
#  file:
#    path: "{{ unix_script_path }}"
#    state: absent
#  become: true
#  when: ansible_os_family != "Windows"

# ---------------- WINDOWS ----------------
- name: Copy script to Windows host
  win_copy:
    src: "{{ script_src }}"
    dest: "{{ win_script_path }}"
  when: ansible_os_family == "Windows"

- name: Execute script as Administrator (SYSTEM-equivalent)
  win_shell: |
    python "{{ win_script_path }}"
  when: ansible_os_family == "Windows"

#- name: Remove script from Windows host
#  win_file:
#    path: "{{ win_script_path }}"
#    state: absent
#  when: ansible_os_family == "Windows"