---
- name: Deploy Stabvest Service systemd
  copy:
    dest: /etc/systemd/system/stabvest-{{ stabvest_agent_name }}.service
    content: |
      [Unit]
      Description=Stabvest Agent for {{ stabvest_agent_name }}
      After=network.target

      [Service]
      User=root
      WorkingDirectory={{ stabvest_deploy_dir }}
      ExecStart={{ stabvest_deploy_dir }}/venv/bin/python3 agent.py
      Restart=always

      [Install]
      WantedBy=multi-user.target
  when: ansible_os_family in ["RedHat", "Debian"]

- name: Deploy Stabvest Service OpenRC
  copy:
    dest: "/etc/init.d/stabvest-{{ stabvest_agent_name }}"
    mode: '0755'
    content: |
      #!/sbin/openrc-run
      name="stabvest-{{ stabvest_agent_name }}"
      command="{{ stabvest_deploy_dir }}/venv/bin/python3"
      command_args="agent.py"
      directory="{{ stabvest_deploy_dir }}"
      command_background="yes"
      pidfile="/run/${RC_SVCNAME}.pid"
  when: ansible_os_family == "Alpine"

- name: Deploy Stabvest Service rc.d
  copy:
    dest: "/usr/local/etc/rc.d/stabvest_{{ stabvest_agent_name }}"
    mode: '0555'
    content: |
      #!/bin/sh
      # PROVIDE: stabvest_{{ stabvest_agent_name }}
      # REQUIRE: LOGIN
      . /etc/rc.subr
      name="stabvest_{{ stabvest_agent_name }}"
      rcvar="stabvest_{{ stabvest_agent_name }}_enable"
      command="{{ stabvest_deploy_dir }}/venv/bin/python3"
      command_args="agent.py &"
      stabvest_{{ stabvest_agent_name }}_chdir="{{ stabvest_deploy_dir }}"
      load_rc_config $name
      run_rc_command "$1"
  when: ansible_os_family == "FreeBSD"

- name: Deploy Stabvest Service (NSSM)
  win_shell: |
    $BaseDir = "{{ stabvest_deploy_dir }}"
    $NssmPath = "$BaseDir\nssm.exe"
    $ServiceName = "stabvest-{{ stabvest_agent_name }}"
    $PythonPath = "$BaseDir\venv\Scripts\python.exe"
    $ScriptPath = "$BaseDir\agent.py"

    if (!(Get-Service $ServiceName -ErrorAction SilentlyContinue)) {
        & $NssmPath install $ServiceName $PythonPath $ScriptPath
        & $NssmPath set $ServiceName AppDirectory "$BaseDir"
        & $NssmPath set $ServiceName Start SERVICE_DEMAND_START
    }
  when: ansible_os_family == "Windows"