---
- name: Ensure destination directory exists
  ansible.windows.win_file:
    path: "{{ stabvest_deploy_dir }}"
    state: directory
  when: ansible_facts.os_family == "Windows" 

- name: Ensure destination directory exists
  ansible.builtin.file:
    path: "{{ stabvest_deploy_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: ansible_facts.os_family != "Windows" 

- name: Copy agent executable to target
  win_copy:
    src: "files/{{ stabvest_agent_executable }}"
    dest: "{{ stabvest_deploy_dir }}\\{{ stabvest_agent_executable }}"
  when: ansible_facts.os_family == "Windows" 

- name: Render config.json from template
  template:
    src: "config.json.j2"
    dest: "{{ [stabvest_deploy_dir, 'config.json'] | path_join }}"

# TODO also do windows
- name: Copy agent executable to target
  copy:
    src: "files/{{ stabvest_agent_executable }}"
    dest: "{{ stabvest_deploy_dir }}/{{ stabvest_agent_executable }}"
    owner: root
    group: root
    mode: '0755'
  when: ansible_facts.os_family != "Windows"

#todo update perms
- name: Copy web files to target 1
  copy:
    src: "files/templates"
    dest: "{{ stabvest_deploy_dir }}"
    owner: root
    group: root
    mode: '0755'
  when: ansible_facts.os_family != "Windows"

- name: Copy web files to target 2
  copy:
    src: "files/static"
    dest: "{{ stabvest_deploy_dir }}"
    owner: root
    group: root
    mode: '0755'
  when: ansible_facts.os_family != "Windows"

- name: Copy requirements to target
  win_copy:
    src: "files/requirements.txt"
    dest: "{{ stabvest_deploy_dir }}\\requirements.txt"
  when: ansible_facts.os_family == "Windows" 

- name: Copy requirements to target
  copy:
    src: "files/requirements.txt"
    dest: "{{ stabvest_deploy_dir }}/requirements.txt"
    owner: root
    group: root
    mode: '0755'
  when: ansible_facts.os_family != "Windows"

- name: Copy worker to target
  win_copy:
    src: "files/worker.py"
    dest: "{{ stabvest_deploy_dir }}\\worker.py"
  when: ansible_facts.os_family == "Windows" 

- name: Copy worker to target
  copy:
    src: "files/worker.py"
    dest: "{{ stabvest_deploy_dir }}/worker.py"
    owner: root
    group: root
    mode: '0755'
  when: ansible_facts.os_family != "Windows"

- name: Create venv and install requirements
  ansible.builtin.pip:
    requirements: "{{ [stabvest_deploy_dir, 'requirements.txt'] | path_join }}"
    virtualenv: "{{ [stabvest_deploy_dir, 'venv'] | path_join }}"
    virtualenv_command: "{{ (ansible_os_family == 'Windows') | ternary('python -m venv', 'python3 -m venv') }}"
    state: present
  vars:
    base_dir: "{{ (ansible_facts.os_family == 'Windows') | ternary('python -m venv --with-pip', 'python3 -m venv --with-pip') }}"