---
- name: Reload systemd and start services
  systemd:
    daemon_reload: yes
    name: "{{ item }}"
    state: restarted
    enabled: yes
  loop:
    - stabvest-worker.service
    - stabvest-server.service