---
- name: Ensure OpenSSL is installed
  apt:
    name: openssl
    state: present

- name: Generate self-signed SSL Certificate
  command: >
    openssl req -x509 -newkey rsa:4096 -nodes
    -keyout {{ stabvest_deploy_dir }}/key.pem
    -out {{ stabvest_deploy_dir }}/cert.pem
    -days 365
    -subj "/CN={{ stabvest_host }}"
  args:
    creates: "{{ stabvest_deploy_dir }}/cert.pem"